version: "3.8"
services:
    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:8.9.0
        container_name: elasticsearch
        environment:
            - discovery.type=single-node
            - xpack.security.enabled=false
        ports:
            - "9200:9200"
            - "9300:9300"
        networks:
            - elastic-network
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:9200/_cluster/health"]
            interval: 10s
            timeout: 5s
            retries: 10
            start_period: 20s

    redis:
        image: redis:7
        container_name: redis
        ports:
            - "6379:6379"
        networks:
            - elastic-network
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 5s
            timeout: 2s
            retries: 5

    node-backend-app:
        image: ecommerce-backend
        build: .
        depends_on:
            redis:
                condition: service_healthy
            elasticsearch:
                condition: service_healthy
        env_file:
            - .env.docker
        networks:
            - elastic-network
        restart: unless-stopped

    worker:
        build: .
        container_name: mail-worker
        command: node dist/queue/mail.worker.js
        depends_on:
            - redis
        env_file:
            - .env.docker
        networks:
            - elastic-network
        restart: unless-stopped
    
    # ======== NGINX (LOAD BALANCER) ========
    nginx:
        image: nginx:1.25-alpine
        container_name: nginx-load-balancer
        ports:
        - "3000:4000" 
        volumes:
        - ./nginx.conf:/etc/nginx/nginx.conf:ro
        depends_on:
        - node-backend-app
        networks:
        - elastic-network
        restart: unless-stopped

networks:
    elastic-network:
        driver: bridge
